body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  /* background-color: white; */
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
  
  border: 0;
  font-size: 18px !important;
  line-height: 1.5 !important;
  letter-spacing: 5px;
  border-radius: 0;
}

 .navbarbrand {
  background-color: transparent;
  color: #fff;
}

.satellite {

  position: fixed;
  
  float: bottom;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  float: left;

}


.popup {
  width: 200px;
}

.thumbnail {
  height: 77px;
  width: 103px;
}

.photo {
  height: 770px;
  width: 1026px;
}

.prev {
  position:absolute;
  left: 450px;
  top: 880px;
}

.next {
  position:absolute;
  left: 550px;
  top: 880px;
}

/* .footer {
  height: 10vh;
} */


